$bg-color: rgb(54, 54, 54);
$bg-active: rgb(0, 238, 255);
$bg-active2: rgb(88, 88, 88);
$text-color: rgb(255, 255, 255);
$text-color2: black;

.container {
   justify-content: center;
   height: 100vh;
   display: flex;
   flex-direction: column;
 }
 
.calendar {
   margin: 0 auto;
   background-color: black;
   color: $text-color;
   padding: 1.25rem;
   border: 1px solid $bg-active;

   &__time {
     font-size: 75px;
     margin: 0;
   }

   &__date {
     color:$bg-active;
   }
 
   &__days {
     display: grid;
     grid-template-columns: repeat(7, 1fr);
     gap: 5px; 
     padding: 10px;
     
     .dayOfWeek {
        text-align: center;
        padding: 8px;
        background-color: $bg-color; 
      }
      
      .day {
         text-align: center;
         padding: 10px;
         cursor: pointer;
         transition: 0.2s ease-out;
         border:  solid #ffffff00;
         box-sizing: border-box;
      }

      .day:hover {
         text-align: center;
         padding: 10px;
         cursor: pointer;
         border: solid #ffffff;
         box-shadow: 0px 0px 75px 5px ;
         box-sizing: border-box;
      }

      .active {
         border:3px solid $bg-active;
      }

      .today {
         background-color: $bg-active;
         color: $text-color2;
       }
   }
}
